.cl-issues-search-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 2rem;

  label {
    font-weight: bold;
    margin: 0 1rem 0 0;
  }

  // select {
  //   margin-bottom: 0 !important;
  // }
}


.cl-issues-label-renderer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
